@{
    ViewData["Title"] = "Delete Cookie";
}

<h2>@ViewData["Title"]</h2>

<p>@ViewBag.Message</p>

<p><a href="@Url.Action("SetCookie")">Set Cookie</a></p>
<p><a href="@Url.Action("GetCookie")">Get Cookie</a></p>
