@{
    ViewData["Title"] = "Set Cookie";
}

<h2>@ViewData["Title"]</h2>

<p>@ViewBag.Message</p>

<p><a href="@Url.Action("getCookie")">Go to Get Cookie</a></p>
<p><a href="@Url.Action("DeleteCookie")">Delete Cookie</a></p>
